* {
  /*margin: 0; */
  padding: 0;
  font-family: "Playfair Display", serif;
}
:root {
  --maincolor: #a892eb;
  --backgroundcolor: rgb(243, 243, 231);
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  background-color: var(--maincolor);
}

header h1 {
  padding-bottom: 3rem;
  font-size: 2em;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (orientation:portrait){
    flex-direction: column;
    align-items: stretch;
  }
}
.nom {
  width: 100%;
  text-align: left;
  padding-left: 4vh;
  font-size: 2rem;
  color: var(--backgroundcolor);
  @media screen and (orientation:portrait){
   margin: 0.3rem;
  }
}

.headerButtons{
display: flex;
}

.navbar a {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-right: 2.5em;
  padding-left: 2.5em;
  text-decoration: none;
  font-size: 2rem;
  color: var(--backgroundcolor);
  @media screen and (orientation:portrait){
    padding-top:0.2em;
    padding-bottom: 0.2em;
    width:50%;
    padding-left:0;
    padding-right:0;
  }
}
.navbar a:hover {
  background-color: #5e5c5c42;
}
.container {
  background-color: var(--backgroundcolor);
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  @media screen and (orientation:portrait){
    flex-direction: column;
  }
}
.rightpart {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  @media screen and (orientation:portrait){
    max-width: 100%;
  }
}
.rightpart button {
  background-color: var(--maincolor);
  color: var(--backgroundcolor);
  border-radius: 1rem;
  font-size: large;
  padding: 1rem;
  margin-bottom: 2rem;
}
.rightpart button:hover {
  cursor: pointer;
  background-color: #5e5c5c42;
}
.photodiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.photodiv img {
  width: 16.5rem;
  height: auto;
  border-radius: 2rem;
}
.textdiv {
  padding: 2rem;
  margin: 4rem;
  @media screen and (orientation:portrait){
    padding: 1rem;
    margin: 2rem;
  }
  background-color: var(--maincolor);
  border-radius: 2rem;
}
.textdiv p {
  padding-bottom: 1rem;
}
.textdiv h2 {
  padding-bottom: 1rem;
}

footer {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--maincolor);
  /*min-height: 2em;*/
}

footer img {
  padding: 1rem;
  color: var(--backgroundcolor);
}

/* -----------------------------Portfolio----------------------------- */

.cards {
  display: grid;
  grid-template-columns: 50% 50%;
  @media screen and (orientation: portrait) {
    grid-template-columns: auto;
  }
}

.cards_item {
  display: flex;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
  cursor: pointer;
  @media screen and (orientation: portrait) {
    max-width: 95%;
    padding:0.2rem
  }
}

.card_image {
  max-height: 250px;
  margin-top: -24px;
  img {
    width: 100%;
    max-width: 800px;
    height: 100%;
    object-fit: cover;
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    position: relative;
    top: -100px;
    background: linear-gradient(0deg, #091014 10%, rgba(0, 0, 0, 0) 100%);
  }
}

.card {
  background-color: #091014;
  border-radius: 2rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  z-index: 1;
  display: block;
}

.card_title {
  font-size: 72px;
  line-height: 72px;
  margin-top: -50px;
  margin-bottom: 24px;
  text-shadow: black 1px 0 15px;
  color: white;
  @media screen and (orientation: portrait) {
    font-size: 2.2rem;
    line-height: 32px;
  }
}

.card_text {
  color: #dddacb;

  font-weight: 200;
  p {
    max-width: 700px;
  }
}

.card_year {
  position: relative;
  top: 10px;
  right: 16px;
  text-align: right;
  color: white;
  height: 24px;
  font-size: 36px;
  font-weight: 400;
  text-shadow: black 3px 0px 6px;
  @media screen and (orientation: portrait) {
    font-size: 24px;
  }
}

#item_fig .card:after {
  content: "Seasonal";
  color: rgba(234, 225, 175, 0.8);
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  width: 10ch;
  height: 1.5em;
  padding: 0.2em 0.4em;
  position: relative;
  bottom: calc(100% - 2.5em);
  left: 1em;
}

/*Dialog Styles*/
dialog {
  padding: 1rem 3rem;
  background: white;
  max-width: 600px;
  max-height: auto;
  padding-top: 2rem;
  border-radius: 2rem;
  border: 0;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
  animation: fadeIn 1s ease both;
  &::backdrop {
    animation: fadeIn 1s ease both;
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(20px);
  }
  .x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
    &:hover {
      filter: grayscale(0);
      transform: scale(1.1);
    }
  }
  img {
    width: 100%;
    max-width: 800px;
    height: 100%;
    object-fit: cover;
  }
  h2 {
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 0.5rem 0;
    a {
      &:visited {
        color: rgb(var(--vs-primary));
      }
    }
  }
}

/*General Styles*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*--------------Carrousel-----------------*/

.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -3rem;
  padding: 3rem;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: 0.6s ease;
  border-radius: 0 1rem 1rem 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 1rem 0 0 1rem;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 2rem 1rem;
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 1rem 1.75rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.carouselIframeWrapper {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.carouselImage {
  width: 100%;
  object-fit: cover;
}

.carouselIframe {
  border: 0;
  aspect-ratio: 16/9;
}

iframe {
  width: 100%;
}

.mySlides {
  width: 100%;
}

.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 0.5rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
