* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}
:root {
  --maincolor: #a892eb;
  --backgroundcolor: rgb(243, 243, 231);
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  background-color: var(--maincolor);
}

header h1 {
  padding-bottom: 3rem;
  font-size: 2em;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nom {
  width: 100%;
  text-align: left;
  padding-left: 4vh;
  font-size: 2rem;
  color: var(--backgroundcolor);
}
.navbar a {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-right: 2.5em;
  padding-left: 2.5em;
  text-decoration: none;
  font-size: 2rem;
  color: var(--backgroundcolor);
}
.navbar a:hover {
  background-color: #5e5c5c42;
}
.container {
  background-color: var(--backgroundcolor);
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
}
.rightpart {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
}
.rightpart button {
  background-color: var(--maincolor);
  color: var(--backgroundcolor);
  border-radius: 1rem;
  font-size: large;
  padding: 1rem;
}
.rightpart button:hover {
  cursor: pointer;
  background-color: #5e5c5c42;
}
.photodiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.photodiv img {
  width: 16.5rem;
  height: auto;
  border-radius: 2rem;
}
.textdiv {
  padding: 2rem;
  margin: 4rem;
  background-color: var(--maincolor);
  border-radius: 2rem;
}
.textdiv p {
  padding-bottom: 1rem;
}
.textdiv h2 {
  padding-bottom: 1rem;
}

footer {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--maincolor);
  /*min-height: 2em;*/
}

footer img {
  padding: 1rem;
}

/* -----------------------------Portfolio----------------------------- */

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.card_image {
  max-height: 250px;
  margin-top: -24px;
  img {
    width: 100%;
    max-width: 800px;
    height: 100%;
    object-fit: cover;
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    position: relative;
    top: -100px;
    background: linear-gradient(0deg, #091014 10%, rgba(0, 0, 0, 0) 100%);
  }
}

.card {
  background-color: #091014;
  border-radius: 2rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  z-index: 1;
  display: block;
}

.card_title {
  font-size: 72px;
  line-height: 72px;
  margin-top: -50px;
  margin-bottom: 24px;
  text-shadow: black 1px 0 15px;
  color: white;
}

.card_text {
  color: #dddacb;

  font-weight: 200;
  p {
    max-width: 700px;
  }
}

.card_price {
  position: relative;
  top: 10px;
  right: 16px;
  text-align: right;
  color: white;
  height: 24px;
  font-size: 36px;
  font-weight: 400;
  text-shadow: black 3px 0px 6px;
}

#item_fig .card:after {
  content: "Seasonal";
  color: rgba(234, 225, 175, 0.8);
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  width: 10ch;
  height: 1.5em;
  padding: 0.2em 0.4em;
  position: relative;
  bottom: calc(100% - 2.5em);
  left: 1em;
}

/*Dialog Styles*/
dialog {
  padding: 1rem 3rem;
  background: white;
  max-width: 400px;
  padding-top: 2rem;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
  animation: fadeIn 1s ease both;
  &::backdrop {
    animation: fadeIn 1s ease both;
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(20px);
  }
  .x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
    &:hover {
      filter: grayscale(0);
      transform: scale(1.1);
    }
  }
  img {
    width: 100%;
    max-width: 800px;
    height: 100%;
    object-fit: cover;
  }
  h2 {
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 0.5rem 0;
    a {
      &:visited {
        color: rgb(var(--vs-primary));
      }
    }
  }
}

/*General Styles*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Carousel*/

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
